spring.application.name=task-management

server.port=8080

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect


springdoc.swagger-ui.path=/swagger-ui.html
springdoc.info.title=Task Management API
springdoc.info.version=1.0.0
springdoc.info.description=REST API for managing tasks for the Fullstack Test.
